<launch>

    <!-- Start the mecanum base node -->
    <node
        pkg="mecanumrob_roboclaw"
        type="mecanum_base_node.py"
        name="mecanum_base"
        output="screen"
    />

    <!-- Start the Braitenberg controller -->
    <node
        pkg="mecanumrob_roboclaw"
        type="braitenberg_real.py"
        name="braitenberg_controller"
        output="screen"
    />

    <!-- Start the RPLIDAR -->
    <include file="/home/dif1/catkin_ws/src/rplidar_ros/launch/rplidar.launch" />

    <node
        pkg="slam_karto"
        type="slam_karto"
        name="slam_karto"
        output="screen">
        <rosparam file="/home/dif1/catkin_ws/config/config_slam_karto.yaml" command="load" />
        <remap from="scan" to="/scan" />
    </node>

    <node pkg="tf2_ros"
      type="static_transform_publisher"
      name="base_to_scan_tf"
      args="0.06 0.0 0.08 0 0 0 base_link laser" />

    <!-- Lanzando driver de imu -->

    <include file="../src/imu.launch" />

    <!-- Lanzando nodo intermediario para la IMU-->
    <node pkg="imu_phidget_node"
          type="imu_phiget_node"
          name="imu_phiget_node"
          output="screen"  />

</launch>
