<launch>

    <!-- Load parameters for SLAM from a YAML file -->
    <rosparam file="/home/dif1/catkin_ws/config/config_slam_karto.yaml" command="load" />

    <!-- Start the mecanum base node -->
    <node
        pkg="mecanumrob_roboclaw"
        type="mecanum_base_node.py"
        name="mecanum_base"
        output="screen"
    />

    <!-- Start the Braitenberg controller -->
    <node
        pkg="mecanumrob_roboclaw"
        type="braitenberg_real.py"
        name="braitenberg_controller"
        output="screen"
    />

    <!-- Start the RPLIDAR -->
    <include file="home/dif1/catkin_ws/src/rplidar_ros/launch/rplidar.launch" />

    <!-- Start SLAM Karto -->
    <node
        pkg="slam_karto"
        type="slam_karto"
        name="slam_karto"
        output="screen"
    />

    <param name="mecanum_base" textfile="$~/catkin_ws/config/urdf/mecanum_base.urdf" />

    <node pkg="robot_state_publisher" type= "robot_state_publisher" name="robot_state_publisher" />

</launch>
